/* line 14, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*@import "blueprint";*/
/*@import "blueprint/reset";*/
/*@import "blueprint/fancy-type";*/
/* line 4, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body html, body body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 6, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body html {
  font-size: 100.01%;
}
/* line 16, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body div, body span, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p,
body pre, body a, body abbr, body acronym, body address, body code, body del, body dfn, body em, body img,
body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body caption, body tbody, body tfoot, body thead, body tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 18, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body blockquote, body q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body blockquote:before, body blockquote:after, body q:before, body q:after {
  content: "";
}
/* line 20, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body th, body td, body caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 22, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
/* line 24, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
body a img {
  border: none;
}

/* line 8, content/style/partials/layout.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin: 2em auto;
}
/* line 8, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
#wrapper {
  display: block;
}

/* line 3, content/style/partials/example.scss */
body {
  /*  @include fancy-type;*/
  font-family: Helvetica, Arial, sans-serif;
  background: #3D8CFF;
  color: #fff;
}

/* line 11, content/style/partials/example.scss */
a {
  text-decoration: none;
}
/* line 15, content/style/partials/example.scss */
a:link, a:visited {
  color: #fff;
  text-decoration: underline;
}
/* line 20, content/style/partials/example.scss */
a:hover {
  color: #000;
}

/* line 25, content/style/partials/example.scss */
#main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 790px;
  margin-right: 0;
  float: right;
}
/* line 138, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
* html #main {
  overflow-x: hidden;
}
/* line 31, content/style/partials/example.scss */
#main h1 {
  font-size: 135px;
  font-weight: bold;
  line-height: 0.8em;
  letter-spacing: -5px;
  padding-top: 10px;
}
/* line 39, content/style/partials/example.scss */
#main p {
  margin: 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 45, content/style/partials/example.scss */
#main ul {
  margin: 1.5em;
}
/* line 48, content/style/partials/example.scss */
#main ul li {
  list-style-type: square;
}

/* line 54, content/style/partials/example.scss */
#sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  float: left;
  position: relative;
  top: 28em;
  padding: 1.5em 0;
}
/* line 138, /Users/david/.gem/ruby/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}
/* line 62, content/style/partials/example.scss */
#sidebar h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  line-heigh: 1.2em;
}
/* line 69, content/style/partials/example.scss */
#sidebar ul {
  list-style-type: none;
  margin: 1.5em  0 3em 0;
}
/* line 74, content/style/partials/example.scss */
#sidebar ul li a {
  font-size: 0.8em;
  line-height: 1.2em;
}
